@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67.4% 8.4%;
    --open-menu-background: 0 0% 59.2%;
    --foreground: 0 0% 100%;
    --mercury: 196 83% 93%;
    --venus: 39 88% 73%;
    --earth: 238 99% 66%;
    --mars: 12 100% 64%;
    --jupiter: 27 75% 60%;
    --saturn: 40 96% 70%;
    --uranus: 168 82% 67%;
    --neptune: 222 95% 63%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .nav-item-border {
    @apply after:w-0 after:absolute after:h-1 after:-top-8 after:left-0 after:transition-width after:duration-500 after:hover:w-full;
  }

  .nav-item-border::after {
    background-color: var(--hover-bg-color);
  }

  .active-tab {
    @apply after:w-full after:absolute after:h-1 after:-bottom-2 after:left-0;
  }

  @media (min-width: 768px) {
    .active-tab {
      background-color: var(--hover-bg-color);
    }

    .active-tab::after {
      @apply hidden;
    }
  }

  .active-tab::after {
    background-color: var(--hover-bg-color);
  }

  .before-content::before {
    display: block;
    content: var(--before-content);
    @apply text-foreground/50 mr-4;
  }

  .planet-size {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: var(--sp-size);
    max-height: var(--sp-size);

    @media (min-width: 640px) {
      max-width: var(--tab-size);
      max-height: var(--tab-size);
    }

    @media (min-width: 1024px) {
      max-width: var(--pc-size);
      max-height: var(--pc-size);
    }
  }
}
